* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, bold;

    
}

  nav {
      height: 15vh;
      background: tomato;
      color: #333333;
  }

  main {
      background: #EEE;
      height: 85vh;

  }

  table,
  section,
  nav {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  table {
      padding-top: 2vh;
  }

.row td {
    height: 120px;
    width: 120px;
    border: 1px solid ;
    text-align: center;
    font-size: 2em;
}

.buttons {

    margin: 15px auto;
    text-align: center;

}

button {

    height: 30px;
    width: 150px;
    border-radius: 8px;
    border-color:tomato;
    background-color: tomato;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: white;

}

#toptitle {

    margin: 0px 15px 15px 15px;
    padding: 30px 0px 0px 0px;
    text-align: center;
    background: #EEE;

}
